<!doctype html>
<html lang="en">

<head>
    <title>Tumbir</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" />
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@3.0.2"></script>

</head>

<body>
    <div id="container">
        <nav id="nav">
            <div class="navbar">
                <div class="logo-img" ref="threshold">
                    <a href="#home"><img src="/assets/images/logo.png" alt="logo"></a>
                </div>

                <div class="login-signup-btn">

                    <a href="#!" class="btn  ">Resume</a> <a href="#footer" class="btn mr-3 ml-3">Contact</a>

                </div>
            </div>
            <ul class="nav-indicator-container indicator-group" id="nav-indicator">
                <li v-for="indicator in indicatorList" @click='activeIndicator(indicator)' class="indicator"
                    :class="indicator.isActive"><a :href="indicator.id" :id='indicator.linkId'></a> <span :style="handleActiveIndicator(indicator)" class="navtitle">{{indicator.title}}</span> </li>

            </ul>
        </nav>
        <section id="login" ref="login" class="login">
            <div id="intro-Container">
                <p>Hi, My Name Is </p>
                <h1>Uche Okoroafor.<br>I am a FrontEnd Web Developer</h1>
                <p>I am currently Based in Dubai. I have passion for coding and challenging <br> myself creatively.<br>
                    I can
                    create
                    simple and amazing responsive websites with a whimsical twist</p>

            </div>

            <div class="about-tumblr">
                <a href="#About">About Me?</a>
            
</div>
        </section>






        <section id="About" ref="About" class="About">

            <div class="My-Photo" ref="photoBig">
                <img src="/assets/images/uche.jpg" alt="My-Photo">
            </div>
            <div class="content-text">

                <div class="p-tag   text1 " ref="text1">My Name is <h3 style="display: inline;">Uchechukwu okoroafor
                    </h3>
                    <p>You can call me <strong> Uche</strong> </p>
                    I am a FrontEnd Web developer and a Graduate of Computer Engineering I am currently Based
                    in
                    Dubai, United Arab Emirates.
                </div>

                <div class="p-tag  text2" ref="text2">
                    I am an excellent savvy, enthusiastic and result oriented individual, seeking employment in a
                    dynamic
                    environment that offers an exceptional knowledge of absorbing information, analyzing problems,
                    making
                    objective decisions and
                    working with existing human and material resources, so as to achieve a high degree of work
                    efficiency.
                </div>


                <div class="p-tag  text3" ref="text3">
                    <p>I have passion for coding and challenging myself creatively.I enjoy learning new skills daily,and
                        staying connected, and involved with my fellow developers.</p>

                </div>



                <div class="p-tag  text4" ref="text4">
                    Here are the technologies I've been working with : <br>

                    <div class="text4-list">
                        <ul>
                            <li>HTML5 <i style="color: #DD4B25;" class="fab fa-html5"></i></li>
                            <li>CSS3 <i style="color:#254BDD ;" class="fab fa-css3-alt"></i></li>
                            <li>Bootstrap <i style="color:#533B78 ;" class="fab fa-bootstrap"></i> </li>
                            <li>Responsive Web Design</li>

                        </ul>
                        <ul>
                            <li>Javascript <i style="color:#F7DF1E ;" class="fab fa-js-square"></i></li>
                            <li>JQuery </li>
                            <li>Vue <i style="color:#1ef78a ;" class="fab fa-vuejs"></i></li>
                            <li>React <i style="color:#5ED3F3 ;" class="fab fa-react"></i></li>
                        </ul>
                    </div>
                </div>
                <!-- 
                <div class="p-tag  text2">
                </div> -->


                <!-- <p>You can call me <strong> Uche</strong></p>
               
                <p> I am an excellent savvy, enthusiastic and result oriented individual, seeking employment in a
                    dynamic
                    environment that offers an exceptional knowledge of absorbing information, analyzing problems,
                    making
                    objective decisions and
                    working with existing human and material resources, so as to achieve a high degree of work
                    efficiency.</p> -->
                <!-- <p>I have passion for coding and challenging myself creatively.
                    I enjoy learning new skills daily,and staying connected, and involved with my fellow developers.</p>


            </div>
        <div class="aboutmed2">
          <h4>Technical Skills</h4>
          <div class="listalign">
            <div>
              <ul>
                <li>HTML5</li>
                <li>CSS3</li>
                <li>Javascript</li>
                <li>JQuery</li>
                <li>Vue</li>
              </ul>
            </div>
            <div>
              <ul>

                <li>React</li>
                <li>Bootstrap</li>
                <li>Python</li>
                <li>Responsive Web Design</li>
              </ul>
            </div>
          </div>
        </div> -->

                <!-- <div class="icons">
                <i class="fab fa-tumblr fa-2x Tumblr " ref="tumblrIcon"></i>
                <i class="fas fa-plus" ref="plusIcon"></i>
                <i class="fas fa-plus fa-plus-big " ref="plusIconBig"></i>
                <i class="fas fa-heart  fa-heart-small" ref="heartSmall"></i>
                <i class="fas fa-heart  fa-heart-big" ref="heartBig"></i>
                <i class="fas fa-plus fa-plus2" ref="plusIconTwo"></i>
                <i class="fas fa-heart  fa-heart-smaller" ref="heartSmaller"></i>
                <svg viewBox="0 0 19 16" width="90" height="90" fill="#00b82f" class="headPhone" ref="headPhoneBig">
                    <path
                        d="M17.7 7.3c-.4-4.4-4-7.3-8.3-7.3-4.3 0-7.9 2.9-8.3 7.4C.5 7.4 0 8 0 8.6v5c0 .8.6 1.4 1.3 1.4H4c.2.4.8 1 1.2 1 .6 0 .8-1 .8-1.6V7.8c0-.5-.2-1.6-.8-1.6-.4 0-1 .8-1.2 1.1H2.9c.4-3.5 3.2-5.6 6.5-5.6s6.2 2.1 6.5 5.6H15c0-.3-.7-1.1-1.1-1.1-.6 0-.9 1-.9 1.6v6.6c0 .5.3 1.6.9 1.6.4 0 1.1-.6 1.2-1h2.6c.7 0 1.3-.6 1.3-1.3v-5c0-.8-.6-1.3-1.3-1.4zM3 8.5v1l-2 1.3V8.5h2zm15 .9l-2 1.3V8.5h2v.9zm-6.4.3l-1.6.5V6.4c0-.1-.1-.2-.2-.2s-.2 0-.2.1L7.2 12v.2c.1.1.1.1.2.1L9 12v3.8c0 .1-.2.2-.1.2h.3c.1 0 .2 0 .2-.1l2.4-5.9v-.2c-.1-.1-.2-.1-.2-.1z">
                    </path>
                </svg>
                <svg viewBox="0 0 20.8 13" width="100" height="100" fill="#00b82f" class="text-big" ref="textBig">
                    <path
                        d="M.1 13h2.8l.9-3h4.7l.8 3h2.9L7.7 0h-3L.1 13zm6-10.1l2 5.1H4.2l1.9-5.1zM20 10V6c0-1.1-.2-1.9-1-2.3-.7-.5-1.7-.7-2.7-.7-1.6 0-2.7.4-3.4 1.2-.4.5-.6 1.2-.7 2h2.4c.1-.4.2-.6.4-.8.2-.3.6-.4 1.2-.4.5 0 .9.1 1.2.2.3.1.4.4.4.8 0 .3-.2.5-.5.7-.2.1-.5.2-1 .2l-.9.1c-1 .1-1.7.3-2.2.6-.9.5-1.4 1.3-1.4 2.5 0 .9.3 1.6.8 2 .6.5 1.3.9 2.2.9.7 0 1.2-.3 1.7-.6.4-.2.8-.6 1.2-.9 0 .2 0 .4.1.6 0 .2.1.8.2 1h2.7v-.8c-.1-.1-.3-.2-.4-.3.1-.3-.3-1.7-.3-2zm-2.2-1.1c0 .8-.3 1.4-.7 1.7-.4.3-1 .5-1.5.5-.3 0-.6-.1-.9-.3-.2-.2-.4-.5-.4-.9 0-.5.2-.8.6-1 .2-.1.6-.2 1.1-.3l.6-.1c.3-.1.5-.1.7-.2.2-.1.3-.1.5-.2v.8z">
                    </path>
                </svg>
                <svg viewBox="0 0 18.7 17" width="65" height="65" fill="#00b82f" ref="chatBig" class="chat-big">
                    <path
                        d="M16 6.1V2.6C16 .8 15 0 13.1 0H2.9C1 0 0 1.1 0 3.3v10.4C0 15.9 1 17 2.9 17h10.2c1.9 0 2.9-.8 2.9-2.6v-2.9l2.7-2.9c0-.1-2.7-2.5-2.7-2.5zm-4.5-.7c0-.5.3-.8.7-.8s.8.3.8.8v1.7l-.3 2.5c0 .3-.2.4-.4.4s-.4-.1-.4-.4l-.3-2.5V5.4zm-3.8 6.4c0 .4-.1.8-.7.8-.5 0-.7-.4-.7-.8V9.1C6.3 8.4 6 8 5.4 8c-.5 0-1 .4-1 1.2v2.6c0 .4-.1.8-.7.8s-.7-.4-.7-.8V5.4c0-.5.3-.8.7-.8.4 0 .7.3.7.8v2.1c.3-.4.7-.8 1.5-.8s1.7.5 1.7 2c.1.1.1 3.1.1 3.1zm2.5 0c0 .4-.1.8-.7.8-.5 0-.7-.4-.7-.8V7.5c0-.4.1-.8.7-.8.5 0 .7.4.7.8v4.3zm-.7-5.6c-.4 0-.7-.4-.7-.8s.3-.8.7-.8c.4 0 .7.4.7.8s-.3.8-.7.8zm2.8 6.3c-.4 0-.8-.4-.8-.9s.3-.9.8-.9.8.4.8.9-.4.9-.8.9z">
                    </path>
                </svg>
                <svg viewBox="0 0 16 15" width="80" height="80" fill="#00b82f" class="video-big" ref="videoBig">
                    <path
                        d="M15.7 7.8c-.2-.1-.5 0-.6.1l-2.9 2.2c-.1.1-.1.1-.2.1V8H0v3h2v3.2c0 .4.3.8.8.8h8.4c.5 0 .8-.4.8-.8V12c0 .1.1.2.2.2l2.9 2.2c.2.2.4.2.6.1.2-.1.3-.3.3-.5V8.4c0-.2-.1-.5-.3-.6zM2.8 6.9c.3 0 .8.1 1.1.1h5.5c.3 0 .8-.1 1-.1 1.6-.3 2.8-1.7 2.8-3.4 0-1.9-1.6-3.5-3.5-3.5-1.2 0-2.4.6-3 1.7h-.1C5.9.6 4.8 0 3.6 0 1.6 0 0 1.6 0 3.5c0 1.7 1.2 3 2.8 3.4zM9 4.2c1 0 1.8-.8 1.8-1.8v-.3c.4.3.6.8.6 1.4 0 1-.8 1.8-1.8 1.8-.9 0-1.6-.6-1.8-1.5.3.3.7.4 1.2.4zm-6.2.1c1 0 1.8-.8 1.8-1.8v-.3c.4.2.6.7.6 1.3 0 1-.8 1.8-1.8 1.8-.9 0-1.6-.6-1.8-1.5.3.3.7.5 1.2.5z">
                    </path>
                </svg>
                <svg viewBox="0 0 16 15" width="80" height="80" fill="#00b82f" class="video-bigg" ref="videoBigg">
                    <path
                        d="M15.7 7.8c-.2-.1-.5 0-.6.1l-2.9 2.2c-.1.1-.1.1-.2.1V8H0v3h2v3.2c0 .4.3.8.8.8h8.4c.5 0 .8-.4.8-.8V12c0 .1.1.2.2.2l2.9 2.2c.2.2.4.2.6.1.2-.1.3-.3.3-.5V8.4c0-.2-.1-.5-.3-.6zM2.8 6.9c.3 0 .8.1 1.1.1h5.5c.3 0 .8-.1 1-.1 1.6-.3 2.8-1.7 2.8-3.4 0-1.9-1.6-3.5-3.5-3.5-1.2 0-2.4.6-3 1.7h-.1C5.9.6 4.8 0 3.6 0 1.6 0 0 1.6 0 3.5c0 1.7 1.2 3 2.8 3.4zM9 4.2c1 0 1.8-.8 1.8-1.8v-.3c.4.3.6.8.6 1.4 0 1-.8 1.8-1.8 1.8-.9 0-1.6-.6-1.8-1.5.3.3.7.4 1.2.4zm-6.2.1c1 0 1.8-.8 1.8-1.8v-.3c.4.2.6.7.6 1.3 0 1-.8 1.8-1.8 1.8-.9 0-1.6-.6-1.8-1.5.3.3.7.5 1.2.5z">
                    </path>
                </svg>
                <svg viewBox="0 0 17 15" width="100" height="100" fill="#00b82f" class="photo-small" ref="photoSmall">
                    <path
                        d="M14.6 1h-2.7l-.6-1h-6l-.6 1H2.4C1.1 1 0 2 0 3.3v9.3C0 13.9 1.1 15 2.4 15h12.2c1.3 0 2.4-1.1 2.4-2.4V3.3C17 2 15.9 1 14.6 1zM8.3 13.1c-2.9 0-5.2-2.3-5.2-5.1s2.3-5.1 5.2-5.1c2.9 0 5.2 2.3 5.2 5.1s-2.3 5.1-5.2 5.1zm5.9-8.3c-.6 0-1.1-.5-1.1-1.1 0-.6.5-1.1 1.1-1.1s1.1.5 1.1 1.1c0 .6-.5 1.1-1.1 1.1zm-10 3.1c0 1.2.5 2.2 1.3 3 0-.2 0-.4-.1-.6 0-2.2 1.8-4 4.1-4 1.1 0 2 .4 2.8 1.1-.3-2-2-3.4-4-3.4-2.2-.1-4.1 1.7-4.1 3.9z">
                    </path>
                </svg>
                <svg viewBox="0 0 17 15" width="120" height="120" fill="#00b82f" class="photo-big" >
                    <path
                        d="M14.6 1h-2.7l-.6-1h-6l-.6 1H2.4C1.1 1 0 2 0 3.3v9.3C0 13.9 1.1 15 2.4 15h12.2c1.3 0 2.4-1.1 2.4-2.4V3.3C17 2 15.9 1 14.6 1zM8.3 13.1c-2.9 0-5.2-2.3-5.2-5.1s2.3-5.1 5.2-5.1c2.9 0 5.2 2.3 5.2 5.1s-2.3 5.1-5.2 5.1zm5.9-8.3c-.6 0-1.1-.5-1.1-1.1 0-.6.5-1.1 1.1-1.1s1.1.5 1.1 1.1c0 .6-.5 1.1-1.1 1.1zm-10 3.1c0 1.2.5 2.2 1.3 3 0-.2 0-.4-.1-.6 0-2.2 1.8-4 4.1-4 1.1 0 2 .4 2.8 1.1-.3-2-2-3.4-4-3.4-2.2-.1-4.1 1.7-4.1 3.9z">
                    </path>
                </svg>
                <svg viewBox="0 0 19 16" width="75" height="75" fill="#00b82f" class="headphone-small"
                    ref="headPhoneSmall">
                    <path
                        d="M17.7 7.3c-.4-4.4-4-7.3-8.3-7.3-4.3 0-7.9 2.9-8.3 7.4C.5 7.4 0 8 0 8.6v5c0 .8.6 1.4 1.3 1.4H4c.2.4.8 1 1.2 1 .6 0 .8-1 .8-1.6V7.8c0-.5-.2-1.6-.8-1.6-.4 0-1 .8-1.2 1.1H2.9c.4-3.5 3.2-5.6 6.5-5.6s6.2 2.1 6.5 5.6H15c0-.3-.7-1.1-1.1-1.1-.6 0-.9 1-.9 1.6v6.6c0 .5.3 1.6.9 1.6.4 0 1.1-.6 1.2-1h2.6c.7 0 1.3-.6 1.3-1.3v-5c0-.8-.6-1.3-1.3-1.4zM3 8.5v1l-2 1.3V8.5h2zm15 .9l-2 1.3V8.5h2v.9zm-6.4.3l-1.6.5V6.4c0-.1-.1-.2-.2-.2s-.2 0-.2.1L7.2 12v.2c.1.1.1.1.2.1L9 12v3.8c0 .1-.2.2-.1.2h.3c.1 0 .2 0 .2-.1l2.4-5.9v-.2c-.1-.1-.2-.1-.2-.1z">
                    </path>
                </svg>

                <svg viewBox="0 0 18.7 17" width="80" height="80" fill="#00b82f" ref="chatBigger" class="chat-bigger">
                    <path
                        d="M16 6.1V2.6C16 .8 15 0 13.1 0H2.9C1 0 0 1.1 0 3.3v10.4C0 15.9 1 17 2.9 17h10.2c1.9 0 2.9-.8 2.9-2.6v-2.9l2.7-2.9c0-.1-2.7-2.5-2.7-2.5zm-4.5-.7c0-.5.3-.8.7-.8s.8.3.8.8v1.7l-.3 2.5c0 .3-.2.4-.4.4s-.4-.1-.4-.4l-.3-2.5V5.4zm-3.8 6.4c0 .4-.1.8-.7.8-.5 0-.7-.4-.7-.8V9.1C6.3 8.4 6 8 5.4 8c-.5 0-1 .4-1 1.2v2.6c0 .4-.1.8-.7.8s-.7-.4-.7-.8V5.4c0-.5.3-.8.7-.8.4 0 .7.3.7.8v2.1c.3-.4.7-.8 1.5-.8s1.7.5 1.7 2c.1.1.1 3.1.1 3.1zm2.5 0c0 .4-.1.8-.7.8-.5 0-.7-.4-.7-.8V7.5c0-.4.1-.8.7-.8.5 0 .7.4.7.8v4.3zm-.7-5.6c-.4 0-.7-.4-.7-.8s.3-.8.7-.8c.4 0 .7.4.7.8s-.3.8-.7.8zm2.8 6.3c-.4 0-.8-.4-.8-.9s.3-.9.8-.9.8.4.8.9-.4.9-.8.9z">
                    </path>
                </svg>
                <svg viewBox="0 0 18.7 17" width="100" height="100" fill="#00b82f" ref="chatBiggest"
                    class="chat-biggest">
                    <path
                        d="M16 6.1V2.6C16 .8 15 0 13.1 0H2.9C1 0 0 1.1 0 3.3v10.4C0 15.9 1 17 2.9 17h10.2c1.9 0 2.9-.8 2.9-2.6v-2.9l2.7-2.9c0-.1-2.7-2.5-2.7-2.5zm-4.5-.7c0-.5.3-.8.7-.8s.8.3.8.8v1.7l-.3 2.5c0 .3-.2.4-.4.4s-.4-.1-.4-.4l-.3-2.5V5.4zm-3.8 6.4c0 .4-.1.8-.7.8-.5 0-.7-.4-.7-.8V9.1C6.3 8.4 6 8 5.4 8c-.5 0-1 .4-1 1.2v2.6c0 .4-.1.8-.7.8s-.7-.4-.7-.8V5.4c0-.5.3-.8.7-.8.4 0 .7.3.7.8v2.1c.3-.4.7-.8 1.5-.8s1.7.5 1.7 2c.1.1.1 3.1.1 3.1zm2.5 0c0 .4-.1.8-.7.8-.5 0-.7-.4-.7-.8V7.5c0-.4.1-.8.7-.8.5 0 .7.4.7.8v4.3zm-.7-5.6c-.4 0-.7-.4-.7-.8s.3-.8.7-.8c.4 0 .7.4.7.8s-.3.8-.7.8zm2.8 6.3c-.4 0-.8-.4-.8-.9s.3-.9.8-.9.8.4.8.9-.4.9-.8.9z">
                    </path>
                </svg>
                <svg viewBox="0 0 17 13" width="90" height="90" fill="#00b82f" class="quote-one" ref="quoteOne">
                    <path
                        d="M3.5 5.5C4 3.7 5.8 2.4 7.2 1.3L5.9 0C3 1.8 0 5 0 8.5 0 11 1.3 13 4 13c2 0 3.7-1.5 3.7-3.6C7.7 7 6 5.5 3.5 5.5zm9.3 0c.4-1.8 2.2-3.1 3.7-4.2L15.2 0c-2.8 1.8-5.9 5-5.9 8.5 0 2.4 1.3 4.5 4 4.5 2 0 3.7-1.5 3.7-3.6 0-2.4-1.7-3.9-4.2-3.9z">
                    </path>
                </svg>
                <svg viewBox="0 0 17 13" width="90" height="90" fill="#00b82f" class="quote-two" ref="quoteTwo">
                    <path
                        d="M3.5 5.5C4 3.7 5.8 2.4 7.2 1.3L5.9 0C3 1.8 0 5 0 8.5 0 11 1.3 13 4 13c2 0 3.7-1.5 3.7-3.6C7.7 7 6 5.5 3.5 5.5zm9.3 0c.4-1.8 2.2-3.1 3.7-4.2L15.2 0c-2.8 1.8-5.9 5-5.9 8.5 0 2.4 1.3 4.5 4 4.5 2 0 3.7-1.5 3.7-3.6 0-2.4-1.7-3.9-4.2-3.9z">
                    </path>
                </svg>

                <i class="fas fa-link link-big" ref="linkBig"></i>
                <i class="fas fa-link link-small" ref="linkSmall"></i>
                <i class="fas fa-retweet retweet-small" ref="retweetSmall"></i>
                <i class="fas fa-retweet retweet-big" ref="retweetBig"></i>





            </div> -->


        </section>
        <section id="Blogs" ref="Blogs">
            <div class="projects">
                <h3 ref="projectsText">
                    These are Some of My Works.</h3>

            </div>

            <!-- <div class="loading" ref="loading">
                <div ref="loadOne"></div>
                <div ref="loadTwo"></div>
                <div ref="loadThree"></div>
            </div> -->

            <div class="Blog" ref="Blog">
                <a href="" class="img1" ref="img1">
                    <img src="/assets/images/somedia1.jpg" alt="somedia">

                    <span class="imgtitle-container">
                        <span class="img-title1">Memory Game</span>
                    </span>
                </a>
                <div class="img-backdrop"></div>

                <a href="" class="img2" ref="img2">
                    <img src="/assets/images/contactmanager.jpg" alt="contact">
                    <span class="imgtitle-container">
                        <span class="img-title2">Tumblr Clone</span>
                    </span>
                </a>
                <div class="img-backdrop"></div>

                <a href="" class="img3" ref="img3">
                    <img src="/assets/images/tumblrImg2.jpg" alt="tumblr">
                    <span class="imgtitle-container">
                        <span class="img-title3">Contact Manager</span>

                    </span>
                </a>
                <div class="img-backdrop"></div>
                <a href="" class="img4" ref="img4">
                    <img src="/assets/images/memoryGame.jpg" alt="memorygame">
                    <span class="imgtitle-container">
                        <span class="img-title4">SoMedia</span>

                    </span>
                </a>
                <div class="img-backdrop"></div>
                <div class="hoverControl" ref="hoverControl"></div>
                <!-- <div v-for="blog in blogsArts" class="blogs" ref="blogs">
                    <div class='blog-heading'>
                        <div class="blog-contents">
                            <img :src="blog.avatar" alt="avatar">
                            <span>{{blog.name}}</span>
                            <span>Follow</span>

                        </div>
                        <span>
                            <i class="fas fa-ellipsis-h"></i>
                        </span>

                    </div>
                    <div class='blog-body'><img :src="blog.artUrl" alt="img-blogs"></div>
                    <div class='blog-footer'><span>{{blog.notes}} Notes</span></div>
                </div> -->

            </div>


        </section>


        <section id="Somedia" ref="Somedia" class="Somedia">

            <div class="Somedia-img">




                <div class="image-box" ref="SomediaImg">

                    <img src="assets/images/somedia2.jpg" alt="sleeping-box">


                </div>

            </div>
            <div class="project-text project" ref="somediaText">

                <h1>SoMedia</h1>

                <div class="text-container">
                    <p>
                        Once you follow a blog, all of its posts show up in your dashboard, just like you’d expect.
                        See
                        something great? Reblog it to your own blog. Add commentary if you like. Make it your
                        own.

                    </p>


                </div>
                <div class="tools">
                    <span>Tools <i style="color: #00b8ff;" class="fas fa-tools"></i> </span> : &nbsp; <span>Bootstrap <i
                            style="color:#533B78 ;" class="fab fa-bootstrap"></i></span> &nbsp; <span>Vue.Js <i
                            style="color:#3FB27F ;" class="fab fa-vuejs"></i></span>

                </div>
                <div class="links">
                    <!-- </i> </span> : &nbsp; <span>Bootstrap <i style="color:#533B78 ;" class="fab fa-bootstrap"></i></span>  &nbsp;  <span>Vue.Js <i  style="color:#3FB27F ;" class="fab fa-vuejs"></i></span> -->
                    <a href=""><span class="btn  btn-success" style="background-color: #00cf35;">View code <i
                                style="color: #1b1f23" class="fab fa-github"></i></span></a>
                    &nbsp;
                    <a href=""><span class="btn btn-info" style="background-color: #00b8ff;">Visit Site <i
                                style="color: #1b1f23" class="fas fa-external-link-alt"></i></span></a>
                </div>

            </div>



        </section>





        <section id="contactManager" ref="contactManager" class="contact-Manager">

            <div class="contact-manager-text project" ref="contactManagerText">

                <h1>Contact Manager</h1>

                <div class="text-container  ">
                    <p>
                        Once you follow a blog, all of its posts show up in your dashboard, just like you’d expect.
                        See
                        something great? Reblog it to your own blog. Add commentary if you like. Make it your
                        own.

                    </p>


                </div>
                <div class="tools">
                    <span>Tools <i style="color: #00b8ff;" class="fas fa-tools"></i> </span> : &nbsp; <span>Bootstrap <i
                            style="color:#533B78 ;" class="fab fa-bootstrap"></i></span> &nbsp; <span>Vue.Js <i
                            style="color:#3FB27F ;" class="fab fa-vuejs"></i></span>

                </div>
                <div class="links">
                    <!-- </i> </span> : &nbsp; <span>Bootstrap <i style="color:#533B78 ;" class="fab fa-bootstrap"></i></span>  &nbsp;  <span>Vue.Js <i  style="color:#3FB27F ;" class="fab fa-vuejs"></i></span> -->
                    <a href=""><span class="btn  btn-success" style="background-color: #00cf35;">View code <i
                                style="color: #1b1f23" class="fab fa-github"></i></span></a>
                    &nbsp;
                    <a href=""><span class="btn btn-info" style="background-color: #00b8ff;">Visit Site <i
                                style="color: #1b1f23" class="fas fa-external-link-alt"></i></span></a>
                </div>

            </div>
            <div class="contact-manager-image">


                <div class="image-box" ref="contactManagerImg">

                    <img src="assets/images/somedia2.jpg" alt="sleeping-box">

                </div>



            </div>




        </section>


        <section id="Memory-Game" ref="MemoryGame" class="Memory-Game">

            <div class="Memory-Game-img">




                <div class="image-box" ref="MemoryGameImg">

                    <img src="assets/images/memoryGameImage1.png" alt="sleeping-box">


                </div>

            </div>
            <div class="project-text project" ref="MemoryGameText">

                <h1>Memory Game</h1>

                <div class="text-container">
                    <p>
                        Once you follow a blog, all of its posts show up in your dashboard, just like you’d expect.
                        See
                        something great? Reblog it to your own blog. Add commentary if you like. Make it your
                        own.

                    </p>


                </div>
                <div class="tools">
                    <span>Tools <i style="color: #00b8ff;" class="fas fa-tools"></i> </span> : &nbsp; <span>Bootstrap <i
                            style="color:#533B78 ;" class="fab fa-bootstrap"></i></span> &nbsp; <span>Vue.Js <i
                            style="color:#3FB27F ;" class="fab fa-vuejs"></i></span>

                </div>
                <div class="links">
                    <!-- </i> </span> : &nbsp; <span>Bootstrap <i style="color:#533B78 ;" class="fab fa-bootstrap"></i></span>  &nbsp;  <span>Vue.Js <i  style="color:#3FB27F ;" class="fab fa-vuejs"></i></span> -->
                    <a href=""><span class="btn  btn-success" style="background-color: #00cf35;">View code <i
                                style="color: #1b1f23" class="fab fa-github"></i></span></a>
                    &nbsp;
                    <a href=""><span class="btn btn-info" style="background-color: #00b8ff;">Visit Site <i
                                style="color: #1b1f23" class="fas fa-external-link-alt"></i></span></a>
                </div>

            </div>



        </section>


        <section id="tumblrclone" ref="tumblrclone" class="tumblr-clone">

            <!-- <div class="fillup" ref="fillup"></div> -->

            <div class="tumblr-clone-text project" ref="tumblrcloneText">

                <h1>Tumblr Clone</h1>

                <div class="text-container  ">
                    <p>
                        Once you follow a blog, all of its posts show up in your dashboard, just like you’d expect.
                        See
                        something great? Reblog it to your own blog. Add commentary if you like. Make it your
                        own.

                    </p>


                </div>
                <div class="tools">
                    <span>Tools <i style="color: #1b1f23;" class="fas fa-tools"></i> </span> : &nbsp; <span>Bootstrap <i
                            style="color:#533B78 ;" class="fab fa-bootstrap"></i></span> &nbsp; <span>Vue.Js <i
                            style="color:#3FB27F ;" class="fab fa-vuejs"></i></span>

                </div>
                <div class="links">
                    <!-- </i> </span> : &nbsp; <span>Bootstrap <i style="color:#533B78 ;" class="fab fa-bootstrap"></i></span>  &nbsp;  <span>Vue.Js <i  style="color:#3FB27F ;" class="fab fa-vuejs"></i></span> -->
                    <a href=""><span class="btn  btn-success" style="background-color: #00cf35;">View code <i
                                style="color: #1b1f23" class="fab fa-github"></i></span></a>
                    &nbsp;
                    <a href=""><span class="btn btn-info" style="background-color: #00b8ff;">Visit Site <i
                                style="color: #1b1f23" class="fas fa-external-link-alt"></i></span></a>
                </div>

            </div>
            <div class="tumblr-clone-image">


                <div class="image-box" ref="tumblrcloneImg">

                    <img src="assets/images/somedia2.jpg" alt="sleeping-box">

                </div>



            </div>




        </section>


        <section id="footer" ref="footer" class="footer">

            <div>

                <h3 class="footer-Text1" ref="footerText1">Interested in Knowing more about me?</h3>
            </div>
            <div class="footer-icons">
                <div class="footer-icons-container">

                    <a class="iconContainer" href="https://github.com/uche-okoroafor" target="#blank">
                        <div class="icon-background">
                            <div class="iconspace">
                                <i class="fab fa-2x fa-github icon"></i>
                            </div>

                        </div>
                    </a>

                    <a class="iconContainer" href="https://twitter.com/Uchman101" target="#blank">
                        <div class="icon-background">
                            <div class="iconspace">
                                <i class="fab fa-2x fa-twitter icon"></i>
                            </div>

                        </div>
                    </a>
                    <a class="iconContainer" href="https://www.linkedin.com/in/uche-okoroafor-a9286b19b"
                        target="#blank">

                        <div class="icon-background">
                            <div class="iconspace">
                                <i class="fab fa-2x fa-linkedin icon"></i>
                            </div>

                        </div>
                    </a>
                    <a class="iconContainer" href="https://www.instagram.com/uche_okoroafor/" target="#blank">

                        <div class="icon-background">
                            <div class="iconspace">
                                <i class="fab fa-2x fa-instagram icon"></i>
                            </div>

                        </div>
                    </a>
                    <a class="iconContainer" href="https://www.instagram.com/uche_okoroafor/" target="#blank">

                        <div class="icon-background">
                            <div class="iconspace">
                                <i class="fab fa-2x fa-facebook"></i>
                            </div>
                        </div>
                    </a>

                    <a class="iconContainer" href="mailto:ucheokoroafor018@gmail.com" target="#blank">
                        <div class="icon-background">
                            <div class="iconspace">
                                <!-- <i class="fa fa-2x fa-envelope" aria-hidden="true"></i> -->
                                <i class="fa fa-2x fa-at" aria-hidden="true"></i>
                            </div>

                        </div>
                    </a>
                </div>




            </div>

            <div>
                <p class="footer-text2" ref="footerText2">Feel free to visit my social media pages</p>
            </div>





            <div class="footer-text">
                <p>@ Uche Okoroafor 2020. View the code on <a href="https://github.com/uche-okoroafor/Portfolio"
                        target="#blank">GitHub.</a></p>

            </div>
        </section>


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    </div>
</body>
<script src="script.js"></script>

</html>
